# Dependencies
node_modules/
.pnpm-store/

# Builds
dist/
build/

# Astro
.astro/

# Vercel
.vercel/

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Tests / coverage
coverage/

# OS
.DS_Store
Thumbs.db


