PORT=3333
NODE_ENV=development
WEB_URL=http://localhost:5173
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DATABASE?schema=public"
ADMIN_NAME="Administrador"
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="change-me"
